@model Memorial.ViewModels.NonOrderReceiptsViewModel
@{
    ViewBag.Title = "NonOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NonOrder</h2>

<p>
    @Html.ActionLink("New", "NonOrderForm", new { AF = Model.AF, MasterCatalog = Model.MasterCatalog })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Receipt</th>
            <th>Amount</th>
            <th>Remark</th>
            <th>Payment Method</th>
            <th>Payment Remark</th>
            <th>Create Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.ReceiptDtos)
        {
            <tr>
                <td>@receipt.RE</td>
                <td>@receipt.Amount</td>
                <td>@receipt.Remark</td>
                <td>@receipt.PaymentMethod.Name</td>
                <td>@receipt.PaymentRemark</td>
                <td>@receipt.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@Html.ActionLink("Delete", "DeleteNonOrderReceipt", new { RE = receipt.RE, AF = Model.AF, MasterCatalog = Model.MasterCatalog })</td>
            </tr>
        }
    </tbody>
</table>
