@model Memorial.ViewModels.ApplicantInfoViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Applicant</h2>

<div class="form-group row">
    <div class="col-md-3">
        IC
    </div>
    <div class="col-md-6">
        @Html.LabelFor(a => a.ApplicantDto.IC)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Name
    </div>
    <div class="col-md-6">
        @Html.LabelFor(a => a.ApplicantDto.Name)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Name2
    </div>
    <div class="col-md-6">
        @Html.LabelFor(a => a.ApplicantDto.Name2)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Address
    </div>
    <div class="col-md-6">
        @Html.TextAreaFor(a => a.ApplicantDto.Address, new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        House Phone
    </div>
    <div class="col-md-6">
        @Html.LabelFor(a => a.ApplicantDto.HousePhone)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Mobile Number
    </div>
    <div class="col-md-6">
        @Html.LabelFor(a => a.ApplicantDto.MobileNumber)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        Remark
    </div>
    <div class="col-md-6">
        @Html.TextAreaFor(a => a.ApplicantDto.Remark, new { @class = "form-control" })
    </div>
</div>

<p>
    @Html.ActionLink("New Deceased", "NewDeceased", new { id = Model.ApplicantDto.Id })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>English Name</th>
            <th>Chinese Name</th>
            <th>Relationship</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deceased in Model.DeceasedDtos)
        {
            <tr>
                <td>@Html.ActionLink(deceased.Name, "Info", new { id = deceased.Id })</td>
                <td>@deceased.Name2</td>
                <td>@deceased.RelationshipType.Name</td>
                <td>@Html.ActionLink("Edit", "EditDeceased", new { id = deceased.Id })</td>
            </tr>
        }
    </tbody>
</table>

@foreach (var site in Model.Sites)
{
    @Html.ActionLink(site.Name, "Site", new { siteId = site.Id, applicantId = Model.ApplicantDto.Id })
    <br />
}