@model Memorial.ViewModels.InvoiceFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

@using (Html.BeginForm("Save", "CremationInvoices"))
{
    @Model.AF
    <div class="form-group row">
        <div class="col-md-3">
            Amount
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.InvoiceDto.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.InvoiceDto.Amount)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            Remark
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(c => c.InvoiceDto.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.InvoiceDto.Remark)
        </div>
    </div>

    @Html.HiddenFor(c => c.AF)
    @Html.HiddenFor(c => c.Amount)
    @Html.HiddenFor(c => c.InvoiceDto.IV)
    <button type="submit" class="btn btn-primary">Save</button>
}

