@model Memorial.ViewModels.InvoicesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New", "New", new { AF = Model.AF })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Remark</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Create Date</th>
            <th>Receipt Issued</th>
            <th>Receipt</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model.InvoiceDtos)
        {
        <tr>
            <td>@invoice.IV</td>
            <td>@invoice.Remark</td>
            <td>@invoice.Amount</td>
            <td>@invoice.isPaid</td>
            <td>@invoice.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@invoice.hasReceipt</td>
            <td>@Html.ActionLink("Receipt", "Receipt", new { IV = invoice.IV })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { IV = invoice.IV }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure?');" })</td>
        </tr>
        }
    </tbody>
</table>

